<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renteasytrial1st">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="."
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".admin_usersss"
            android:exported="false" />
        <activity
            android:name=".Admin_homepage"
            android:exported="false" />
        <activity
            android:name=".bill_payment"
            android:exported="false" />
        <activity
            android:name=".user_desc"
            android:exported="false" />
        <activity
            android:name=".Requested_ordr"
            android:exported="false" />
        <activity
            android:name=".payment_mod"
            android:exported="false" />
        <activity
            android:name=".req_pro"
            android:exported="false" />
        <activity
            android:name=".my_orders"
            android:exported="false" />
        <activity
            android:name=".myordr"
            android:exported="false" />
        <activity
            android:name=".billing"
            android:exported="false" />
        <activity
            android:name=".payment_method"
            android:exported="false" />
        <activity
            android:name=".invoice"
            android:exported="false" />
        <activity
            android:name=".forget_pass"
            android:exported="false" />
        <activity
            android:name=".admin_login"
            android:exported="false" />
        <activity
            android:name=".prod_desc"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".pro_reg"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:exported="false" />
        <activity
            android:name=".registration"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>